<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hotels</title>
  </head>
  <body>
    <h2>Hotels</h2>
    <div>
      <a href="/hotels/add">Add New Hotel</a>
      <table>
        <tr>
          <th>Chain Id</th>
          <th>Chain Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Email Address</th>
          <th>Number of Rooms</th>
          <th>Rating</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>View Rooms</th>
        </tr>
        <ul th:each="hotel : ${hotels}">
          <tr>
            <td th:text="${hotel.chainId}"></td>
            <td th:text="${hotel.name}"></td>
            <td th:text="${hotel.address}"></td>
            <td th:text="${hotel.city}"></td>
            <td th:text="${hotel.emailAddress}"></td>
            <td th:text="${hotel.noOfRooms}"></td>
            <td th:text="${hotel.rating}"></td>
            <td><a th:href="@{/hotels/edit/{id}(id=${hotel.hotelId})}">Edit</a></td>
            <td><a th:href="@{/hotels/delete/{id}(id=${hotel.hotelId})}" onclick="return confirm('Are you sure?')">Delete</a></td>
            <td><a th:href="@{/rooms/{id}(id=${hotel.hotelId})}">View Rooms</a></td>
          </tr>
        </ul>
      </table>
    </div>
    <a href="/employee">Back to Employee Home</a>
  </body>
</html>